.exams-list .caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-top: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.exams-list .result-alert {
    position:fixed;
    top:20px;
    left:50%;
    margin-left: -100px;
    margin-bottom:0;
    font-size:1.2em;
    padding:1em 1.3em;
    z-index:2000;
}
